* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0D1840;
  margin-left: 55px;

}


/*........Bishal..................................................*/
.accountbox{
  position: absolute;
  top: 10px;
  right: 10px;

}


.messegebox {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.messegebox #close--msg {
  display: none;
}

.messegepopup {
  display: none;
  position: absolute;
  height: 400px;
  width: 250px;
  bottom: 45px;
  right: 10px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(6, 12, 34, 0.98)), color-stop(55.27%, rgba(26, 43, 102, 0.438352)), to(rgba(72, 106, 227, 0)));
  background: linear-gradient(180deg, rgba(6, 12, 34, 0.98) 0%, rgba(26, 43, 102, 0.438352) 55.27%, rgba(72, 106, 227, 0) 100%);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.messegepopup p {
  text-align: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}




/*Prabin.............................*/

.container {
  width: 98%;
  height: 100vh;
  padding: 50px;
  float: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 0;
}


.container .container__main {
  width: 990px;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 20px;
  color: white;
  -ms-grid-columns: 6fr 5fr 4fr 3fr;
      grid-template-columns: 6fr 5fr 4fr 3fr;
      grid-template-areas: "main-item1 main-item2 main-item3 main-item4"
 "main-item1 main-item2 main-item3 .         "
 "main-item1 main-item2 .          .         "
 "main-item1 .          .          .         ";
}

.container .container__main .main__item {
  width: 259px;
  background-color: #031041;
  -webkit-text-decoration-color: aliceblue;
          text-decoration-color: aliceblue;
  border: 9px solid #0D2044;
  border-radius: 13px;
  padding: 20px;
}

.container .container__main .main__item1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: main-item1;
}

.container .container__main .main__item2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: main-item2;
}

.container .container__main .main__item3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: main-item3;
}

.container .container__main .main__item4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: main-item4;
}

.container .container__comment {
  width: auto;
  height: 300px;
  padding: 10px;
  border: 5px solid black;
  border-radius: 13px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .container__comment p {
  float: left;
}

.container .container__comment .box {
  background-color: #0D1855;
  width: 990px;
  height: 90px;
  border: 5px solid #0D2044;
  border-radius: 13px;
}



/*Seejn's.........................*/
.sidebar {
  height: 100vh;
  width: 55px;
  background: #0D1840;
  padding: 20px 0 5px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
      position: fixed;
        left: 0;
  top:0;
}

.sidebar svg {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.sidebar__container1 {
  height: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
